<!-- detail_inquiry.html -->

{% extends 'base1.html' %}

{% block title %}詳細 | Design Management System{% endblock %}

{% block active_inquiry %}active{% endblock %}

{% block contents %}

      <div class="white-box">

        <!-- <h1 class="display-5">詳細</h1> -->
  
        <div>
          {% if inquiry.shiji_no %}
          <div class="mb-4">
            <p class="mb-2"><strong>指示書No</strong></p>
            <p>{{ inquiry.shiji_no }}</p>
          </div>
          {% endif %}
          {% if inquiry.shiji_name %}
          <div class="mb-4">
            <p class="mb-2"><strong>品名</strong></p>
            <p>{{ inquiry.shiji_name }}</p>
          </div>
          {% endif %}
          {% if inquiry.name %}
          <div class="mb-4">
            <p class="mb-2"><strong>制作者</strong></p>
            <p>{{ inquiry.name }}</p>
          </div>
          {% endif %}
          {% if inquiry.possibility %}
          <div class="mb-4">
            <p class="mb-2"><strong>採用の可否</strong></p>
            <p>{{ inquiry.possibility }}</p>
          </div>
          {% endif %}
          {% if inquiry.reuse %}
          <div class="mb-4">
            <p class="mb-2"><strong>再利用</strong></p>
            <p>{{ inquiry.reuse }}</p>
          </div>
          {% endif %}
          {% if inquiry.email %}
          <div class="mb-4">
            <p class="mb-2"><strong>メールアドレス</strong></p>
            <p>{{ inquiry.email }}</p>
          </div>
          {% endif %}
          {% if inquiry.purpose %}
          <div class="mb-4">
            <p class="mb-2"><strong>用途</strong></p>
            <p>{{ inquiry.purpose }}</p>
          </div>
          {% endif %}
          {% if inquiry.message %}
          <div class="mb-4">
            <p class="mb-2"><strong>備考</strong></p>
            <p>{{ inquiry.message }}</p>
          </div>
          {% endif %}
          {% if inquiry.genres %}
          <div class="mb-4">
            <p class="mb-2"><strong>デザインの種類</strong></p>
            <p>{{ inquiry.genres }}</p>
          </div>
          {% endif %}
  
          <!-- デザイン画像 -->
          {% if inquiry.design_image %}
          <div class="mb-4">
            <p class="mb-2"><strong>デザイン画像</strong></p>
            <p><img src="{{ inquiry.design_image.url }}" alt="Design Image"></p>
          </div>
          {% endif %}
  
          <!-- PDFファイル -->
          {% if inquiry.pdf_file %}
          <div class="mb-4">
            <p class="mb-2"><strong>PDFファイル</strong></p>
            <p><a href="{{ inquiry.pdf_file.url }}" target="_blank"><img class="pdf_icon" src="../../static/template_pattern1/assets/img/pdf_icon.png" alt=""></a></p>
          </div>
          {% endif %}
  
          <!-- 他の詳細情報があれば適宜追加 -->
  
          <div class="mt-5">
            <a href="{% url 'design_search:inquiry_list' %}" class="back-link"><span class="material-symbols-outlined">arrow_back</span> 一覧に戻る</a>
          </div>
        </div>
      </div>
      
{% endblock %}
